{% extends 'base_dashboard.html' %} {% load staticfiles %} {% block body%}
<div class="my-3 my-md-5">
    <div class="container">
        <div class="page-header">
            <div class="page-header">
                <h1 class="page-title">Farmer's Profile</h1>
            </div>
        </div>
        <div class="row row-cards">
            <div class="col-lg-4 col-sm-12">
                <div class="row">
                    <div class="col-md-6 col-lg-12">
                        <div class="card">
                            <div class="dimmer">
                                <!-- <div class="loader"></div> -->
                                <div class="dimmer-content">
                                    <div class="card-body username_pic">
                                        <div class="mb-4 text-center">
                                            <img src="{{ farmer.picture.url }}" alt="{{ farmer.full_name }}" class="img-fluid">
                                        </div>
                                        <h4 class="card-title text-center">{{ farmer.full_name }}</h4>
                                        <div class="card-subtitle text-muted text-center">
                                            Registered on: {{ farmer.reg_date }}
                                        </div>
                                        <div class="mt-5 d-flex align-items-center">
                                            <div class="ml-auto">
                                                <a href="javascript:void(0)" class="btn btn-primary disabled">
                                                    <i class="fe fe-message-square"></i> Send SMS</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div id="carousel-indicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                {% for index in farmer.farm_pictures %}
                                <li data-target="#carousel-indicators" data-slide-to="{{forloop.counter0}}" class="active"></li>
                                {% endfor %}
                            </ol>
                            <div class="carousel-inner mb-5">
                                {% for picture in farmer.farm_pictures %}
                                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                            <img class="d-block w-100 img-fluid" alt="farm-picture-{{ forloop.counter0 }}" src="{{ picture }}" data-holder-rendered="true"
                                                style="max-height: 400px;">
                                        </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="profile-details-full">
                            <div class="row">
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Phone Number(s)</label>
                                        <div class="form-control-plaintext">{{farmer.phone_number}}, {{farmer.phone_number_2}}</div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Email Address (if available)</label>
                                        <div class="form-control-plaintext">{{ farmer.email }}</div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Gender</label>
                                        <div class="form-control-plaintext">{{ farmer.full_gender }}</div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Annual Farm Income (₦)</label>
                                        <div class="form-control-plaintext">{{ farmer.annual_income }}</div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Age</label>
                                        <div class="form-control-plaintext">{{ farmer.age }}</div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Family Size</label>
                                        <div class="form-control-plaintext">{{ farmer.family_size }}</div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Highest Level of Education</label>
                                        <div class="form-control-plaintext">{{ farmer.education_level }}</div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Land Size (sq. meters)</label>
                                        <div class="form-control-plaintext">{{ farmer.land_area }}</div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">State</label>
                                        <div class="form-control-plaintext">{{ farmer.state }}</div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Local Government Area</label>
                                        <div class="form-control-plaintext">  </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Town/Village</label>
                                        <div class="form-control-plaintext">{{ farmer.town }}</div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Planted Crops</label>
                                        <div class="form-control-plaintext">{{ farmer.planted_crops }}</div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Source of Farm Labour</label>
                                        <div class="form-control-plaintext">{{ farmer.source_of_labour }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}