{% extends 'base_dashboard.html' %} 
{% load staticfiles %}
<div class="my-3 my-md-5">
    <div class="container">
        <div class="page-header">
            <div class="page-header">
                <h1 class="page-title">Farmer's Profile</h1>
            </div>
        </div>
        <div class="row row-cards">
            <div class="col-lg-4 col-sm-12">
                <div class="row">
                    <div class="col-md-6 col-lg-12">
                        <div class="card">
                            <div class="dimmer active">
                                <div class="loader"></div>
                                <div class="dimmer-content">
                                    <div class="card-body username_pic"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div id="carousel-indicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators"></ol>
                            <div class="carousel-inner mb-5"></div>
                        </div>
                        <div class="profile-details-full"></div>
                    </div>
                </div>
            </div>
            <script>
                require(["jquery"], function ($) {
                    $(function () {
                        // Create the XHR object.
                        function createCORSRequest(method, url) {
                            var xhr = new XMLHttpRequest();
                            if ("withCredentials" in xhr) {
                                // XHR for Chrome/Firefox/Opera/Safari.
                                xhr.open(method, url, true);
                            } else if (typeof XDomainRequest != "undefined") {
                                // XDomainRequest for IE.
                                xhr = new XDomainRequest();
                                xhr.open(method, url);
                            } else {
                                // CORS not supported.
                                xhr = null;
                            }
                            return xhr;
                        }
                        // ID of the Google Spreadsheet
                        var spreadsheetID = "1aZ8aYMpnsVpB6E0iOS5v_eX6sCloxLYlIvyJJoscurA";

                        var url =
                            `https://spreadsheets.google.com/feeds/list/${spreadsheetID}/1/public/values?alt=json`;

                        // Get picture
                        function getPic(url) {
                            var picId = (url.match(/[-\w]{25,}/))[0];
                            var picURL = `https://drive.google.com/thumbnail?authuser=0&sz=w320&id=${picId}`;
                            return picURL;
                        }

                        // Get date of birth
                        function DOB(dob) {
                            var today = new Date();
                            var currentYear = today.getFullYear();
                            var birthDate = new Date(dob);
                            var birthYear = birthDate.getFullYear();
                            var age = currentYear - birthYear;
                            return age;
                        }

                        // Get date of registration
                        function DOR(d) {
                            var fullDate = new Date(d);
                            var regMonth = fullDate.toString().split(' ')[1];
                            var regDay = fullDate.getDay();
                            var regYear = fullDate.getFullYear();
                            return `${regMonth} ${regDay}, ${regYear}`;
                            // console.log(regDay);
                        }

                        // Farm size - acres to hectares converter
                        function ath(a_size) {
                            var h_size = parseFloat(Math.round(0.4 * a_size));
                            return h_size;
                        }

                        // Display secondary phone number
                        function sph(num) {
                            if (num) {
                                return `, 0${num}`;
                            }
                        }

                        // Make CORS Request
                        function makeCorsRequest() {
                            var xhr = createCORSRequest('GET', url);
                            if (!xhr) {
                                alert('CORS not supported');
                                return;
                            }

                            var userId = window.location.search.substring(1);
                            // console.log(userId);

                            // Response handlers.
                            xhr.onreadystatechange = function () {
                                if (this.readyState === 4) {
                                    if (this.status === 200) {
                                        var data = JSON.parse(this.responseText);
                                        var entry = data.feed.entry;
                                        // console.log(entry);
                                        var userDetails = entry.find(results => results.id.$t === `https://spreadsheets.google.com/feeds/list/1aZ8aYMpnsVpB6E0iOS5v_eX6sCloxLYlIvyJJoscurA/1/public/values/${userId}`);

                                        var farmPicArr = userDetails.gsx$farmpicturesmaximumof5.$t.split(',');
                                        // console.log(farmPicArr);
                                        farmPicArr.forEach((e, i) => {
                                            if (i === 0) {
                                                $(".carousel-indicators").prepend(`
                                <li data-target="#carousel-indicators" data-slide-to="${i}" class="active"></li>
                              `)
                                                $(".carousel-inner").prepend(`
                                <div class="carousel-item active">
                                  <img class="d-block w-100 img-fluid" alt="farm-picture-${i}" src="${getPic(e)}" data-holder-rendered="true" style="max-height: 400px;">
                                </div>
                              `)
                                            } else {
                                                $(".carousel-indicators").prepend(`
                                <li data-target="#carousel-indicators" data-slide-to="${i}"></li>
                              `)
                                                $(".carousel-inner").prepend(`
                                <div class="carousel-item">
                                  <img class="d-block w-100 img-fluid" alt="farm-picture-${i}" src="${getPic(e)}" data-holder-rendered="true" style="max-height: 400px;">
                                </div>
                              `)
                                            }
                                        });

                                        $(".username_pic").prepend(`
                            <div class="mb-4 text-center">
                              <img src="${getPic(userDetails.gsx$pictureoffarmer.$t)}" alt="${userDetails.gsx$firstname.$t} ${userDetails.gsx$lastname.$t}" class="img-fluid">
                            </div>
                            <h4 class="card-title text-center">${userDetails.gsx$firstname.$t} ${userDetails.gsx$lastname.$t}</h4>
                            <div class="card-subtitle text-muted text-center">
                              Registered on: ${DOR(userDetails.title.$t)}
                            </div>
                            <div class="mt-5 d-flex align-items-center">
                              <div class="ml-auto">
                                <a href="javascript:void(0)" class="btn btn-primary disabled"><i class="fe fe-message-square"></i> Send SMS</a>
                              </div>
                            </div>
                          `);

                                        $(".profile-details-full").prepend(`
                            <div class="row">
                              <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                  <label class="form-label">Phone Number(s)</label>
                                  <div class="form-control-plaintext">0${userDetails.gsx$primaryphonenumber.$t}${sph(userDetails.gsx$secondaryphonenumberifavailable.$t)}</div>
                                </div>
                              </div>
                              <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                  <label class="form-label">Email Address (if available)</label>
                                  <div class="form-control-plaintext">${userDetails.gsx$emailaddress.$t}</div>
                                </div>
                              </div>
                              <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                  <label class="form-label">Gender</label>
                                  <div class="form-control-plaintext">${userDetails.gsx$gender.$t}</div>
                                </div>
                              </div>
                              <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                  <label class="form-label">Annual Farm Income (₦)</label>
                                  <div class="form-control-plaintext">${(userDetails.gsx$annualincomerange.$t) * 100000}</div>
                                </div>
                              </div>
                              <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                  <label class="form-label">Age</label>
                                  <div class="form-control-plaintext">${DOB(userDetails.gsx$dateofbirth.$t)}</div>
                                </div>
                              </div>
                              <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                  <label class="form-label">Family Size</label>
                                  <div class="form-control-plaintext">${userDetails.gsx$familysize.$t}</div>
                                </div>
                              </div>
                              <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                  <label class="form-label">Highest Level of Education</label>
                                  <div class="form-control-plaintext">${userDetails.gsx$highestlevelofeducation.$t}</div>
                                </div>
                              </div>
                              <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                  <label class="form-label">Land Size (ha)</label>
                                  <div class="form-control-plaintext">${ath(userDetails.gsx$totallandareaacres.$t)}</div>
                                </div>
                              </div>
                              <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                  <label class="form-label">State</label>
                                  <div class="form-control-plaintext">${userDetails.gsx$state.$t}</div>
                                </div>
                              </div>
                              <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                  <label class="form-label">Local Government Area</label>
                                  <div class="form-control-plaintext">${userDetails.gsx$localgovernmentarealga.$t}</div>
                                </div>
                              </div>
                              <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                  <label class="form-label">Town/Village</label>
                                  <div class="form-control-plaintext">${userDetails.gsx$townorvillage.$t}</div>
                                </div>
                              </div>
                              <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                  <label class="form-label">Planted Crops</label>
                                  <div class="form-control-plaintext">${userDetails.gsx$plantedcrops.$t}</div>
                                </div>
                              </div>
                              <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                  <label class="form-label">Source of Farm Labour</label>
                                  <div class="form-control-plaintext">${userDetails.gsx$sourceoffarmlabour.$t}</div>
                                </div>
                              </div>
                            </div>
                          `);

                                        $(".dimmer").removeClass("active");

                                    } else {
                                        console.log("Unable to retrieve data");
                                    }
                                }
                            };
                            xhr.send();
                        }
                        makeCorsRequest();

                    })
                })
            </script>
        </div>
    </div>

</div>

{% block body%} 
{% endblock %}