{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en" />
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#817729">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <title>Verde - Agricultural Extension and Analytics</title>
    <link rel="icon" href="{% static 'assets/images/favico.ico' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{% static 'assets/device-mockups/device-mockups.min.css' %}">
    <!-- Dashboard CSS -->
    <link href="{% static 'assets/css/dashboard.css' %}" rel="stylesheet">
    <!-- Custom styles for this page -->
    <link href="{% static 'assets/css/verde.css' %}" rel="stylesheet">

    <script src="{% static 'assets/js/require.min.js' %}"></script>
    <script src="{% static 'assets/js/dashboard.js' %}"></script>
    <script>
      setTimeout(hideURLbar, 0);
      function hideURLbar(){
        window.scrollTo(0,1);
      }
      requirejs.config({
          baseUrl: '.'
      });
    </script>
  </head>
  <body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">
          <img src="{% static 'assets/images/logo.png' %}" class="header-brand-img shrink" alt="[VERDE]" style="display: none;">
          <img src="{% static 'assets/images/logo_2.png' %}" class="header-brand-img" alt="[VERDE]">
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item" style="padding: .75rem .25rem;">
              <a class="nav-link" href="{% url  'login' %}" style="font-weight: 700;">login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-7 col-md-6 my-auto">
            <div class="header-content mx-auto">
              <h1 class="mb-5">Verde is an agricultural extension and analytics tool designed to help smallholder farmers increase productivity and maximise yield.</h1>
              <a href="{% url 'register' %}" class="btn btn-outline btn-xl">Get started!</a>
            </div>
          </div>
          <div class="col-lg-5 col-md-6 my-auto">
            <div class="device-container">
              <div class="device-mockup galaxy_s5 portrait white">
                <div class="device">
                  <div class="screen">
                    <!-- Content for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                    <img src="{% static 'assets/images/verde.png' %}" class="img-fluid" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <footer>
      <div class="container">
        <p>Copyright © 2018 <a href="#" target="_blank" class="text-primary">Plurimus Technologies</a>. All rights reserved.</p>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="#">Terms and Conditions</a>
          </li><!-- 
          <li class="list-inline-item">
            <a href="#">Terms</a>
          </li>
          <li class="list-inline-item">
            <a href="#">FAQ</a>
          </li> -->
        </ul>
      </div>
    </footer>
  </body>

</html>
